[submodule "2fa-speakeasy-example"]
	path = 2fa-speakeasy-example
	url = https://github.com/jkithome/2fa-speakeasy-example.git
[submodule "express-jwt-authentication-starter"]
	path = express-jwt-authentication-starter
	url = https://github.com/Waqqars987/express-jwt-authentication-starter.git
[submodule "node-api-proxy-server"]
	path = node-api-proxy-server
	url = https://github.com/bradtraversy/node-api-proxy-server.git
